*{
    margin: 0;
    padding: 0%;
}

.corpo{
    width: 100vw;
    height: 100em;
    background: linear-gradient(217deg, rgba(0, 174, 255, 0.8), rgba(80, 138, 245, 0) 70.71%),
            linear-gradient(127deg, rgba(108, 241, 108, 0.274), rgba(202, 255, 159, 0.829) 70.71%),
            linear-gradient(336deg, rgba(105, 90, 238, 0.8), rgba(81, 209, 248, 0) 70.71%);
}
header{
    width: 100vw;
    height: 30vh;
    text-align: center;
}
.titulo{
    font-family: 'Press Start 2P', cursive;
    font-size: 4em;
    color: rgb(0, 0, 43);
    padding-top: 30px;
}
main{
    width: 100vw;
    height: 70vh;
    display: flex; 
    text-align: center;
}
.selecao{
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.selecionarFotos{
    width: 20vw;
    height: 6vh;
    font-size: 2em;
    border: 2px solid rgb(0, 0, 43);
    border-radius: 11px;
    color: rgb(0, 0, 43);
}

.selecionarFotos:hover{
    background: rgba(0, 0, 43, 0.527);
}
.selecionarFotos:active{
    background: rgba(0, 102, 51, 0.527);
}
.voltar{
    position: absolute;
    font-size: 20px;
    width: 10vw;
    top: 150px;
    left: 30px;
    border: 2px solid rgb(0, 0, 43);
    color: rgb(0, 0, 43);
    border-radius: 11px;
}

.voltar:hover{
    background: rgba(0, 0, 43, 0.527);
}
.voltar:active{
    background: rgba(0, 102, 51, 0.527);
}

@media (max-width: 1075px){
    .corpo{
        width: 100vw;
        height: 1300px;
        background: linear-gradient(217deg, rgba(0, 174, 255, 0.8), rgba(80, 138, 245, 0) 70.71%),
                linear-gradient(127deg, rgba(108, 241, 108, 0.274), rgba(202, 255, 159, 0.829) 70.71%),
                linear-gradient(336deg, rgba(105, 90, 238, 0.8), rgba(81, 209, 248, 0) 70.71%);
    }
    .selecionarFotos{
        width: 40vw;
        height: 6vh;
        font-size: 2em;
        border: 2px solid rgb(0, 0, 43);
        border-radius: 11px;
        color: rgb(0, 0, 43);
    }
    .titulo{
        font-family: 'Press Start 2P', cursive;
        font-size: 3em;
        text-decoration: underline;
        color: rgb(0, 0, 43);
        padding-top: 40px;
    }
}

@media (max-width: 800px){
    .corpo{
        width: 100vw;
        height: 1200px;
        background: linear-gradient(217deg, rgba(0, 174, 255, 0.8), rgba(80, 138, 245, 0) 70.71%),
                linear-gradient(127deg, rgba(108, 241, 108, 0.274), rgba(202, 255, 159, 0.829) 70.71%),
                linear-gradient(336deg, rgba(105, 90, 238, 0.8), rgba(81, 209, 248, 0) 70.71%);
    }
    .selecionarFotos{
        width: 40vw;
        height: 6vh;
        font-size: 2em;
        border: 2px solid rgb(0, 0, 43);
        border-radius: 11px;
        color: rgb(0, 0, 43);
    }
    .titulo{
        font-family: 'Press Start 2P', cursive;
        font-size: 3em;
        text-decoration: underline;
        color: rgb(0, 0, 43);
        padding-top: 40px;
    }
    .voltar{
        font-size: 10px;
        width: 15vw;
        top: 120px;
        left: 25px;
    }
}
@media (max-width: 600px){
    .corpo{
        width: 100vw;
        height: 800px;
        background: linear-gradient(217deg, rgba(0, 174, 255, 0.8), rgba(80, 138, 245, 0) 70.71%),
                linear-gradient(127deg, rgba(108, 241, 108, 0.274), rgba(202, 255, 159, 0.829) 70.71%),
                linear-gradient(336deg, rgba(105, 90, 238, 0.8), rgba(81, 209, 248, 0) 70.71%);
    }
    .selecionarFotos{
        width: 30vw;
        height: 3vh;
        font-size: 1em;
        border: 2px solid rgb(0, 0, 43);
        border-radius: 11px;
        color: rgb(0, 0, 43);
    }
    .titulo{
        font-family: 'Press Start 2P', cursive;
        font-size: 30px;
        text-decoration: underline;
        color: rgb(0, 0, 43);
        padding-top: 40px;
    }
}
@media (max-width: 384px){
    .corpo{
        width: 100vw;
        height: 800px;
        background: linear-gradient(217deg, rgba(0, 174, 255, 0.8), rgba(80, 138, 245, 0) 70.71%),
                linear-gradient(127deg, rgba(108, 241, 108, 0.274), rgba(202, 255, 159, 0.829) 70.71%),
                linear-gradient(336deg, rgba(105, 90, 238, 0.8), rgba(81, 209, 248, 0) 70.71%);
    }
    .selecionarFotos{
        width: 40vw;
        height: 3vh;
        font-size: 1em;
        border: 2px solid rgb(0, 0, 43);
        border-radius: 11px;
        color: rgb(0, 0, 43);
    }
    .titulo{
        font-family: 'Press Start 2P', cursive;
        font-size: 30px;
        text-decoration: underline;
        color: rgb(0, 0, 43);
        padding-top: 40px;
    }
    .voltar{
        font-size: 10px;
        width: 15vw;
        top: 120px;
        left: 10px;
    }
}