<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./app.component.css">
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
		<title>Document</title>
	</head>
	<body class="corpo">
		<header>
			<h1 class="titulo">Fotos Erick</h1>
		</header>
		<main>
			<section class="selecao" *ngIf="!escondeMenu">
				<h1 class="selecionarFotos" (click)="ativaFotosGestacao()" *ngIf="!escondeMenu">Gestação Erick</h1>
				<h1 class="selecionarFotos" (click)="ativaFotosChaBebe()" *ngIf="!escondeMenu">Chá de bebê</h1>
				<h1 class="selecionarFotos" (click)="ativaFotosAno2019()" *ngIf="!escondeMenu">2019</h1>
			</section>
			<section class="fotos">
				<app-fotos-gestacao *ngIf="gestacao">Fotos Gestação</app-fotos-gestacao>
				<app-fotos-cha-bebe *ngIf="cha"></app-fotos-cha-bebe>
				<app-fotos2019 *ngIf="ano2019"></app-fotos2019>
			</section>
			
		</main>
	</body>
	
</html>